.home-section {
  height: 100vh;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  flex-direction: column;
}

.img-background {
  object-fit: cover;
  background-image: url('https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offer-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  color: whitesmoke;
  cursor: pointer;
  border: 2px solid white;
  width: 125px;
  height: 30px;
  transition-duration: 1s;
  margin-top: 10px;
}

.offer-button:hover {
  background-color: white;
  color: black;
}
