.specialists-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.specialists-header {
  color: rgb(43, 63, 78);
}

li:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
  text-align: end;
}

@media only screen and (max-width: 576px) {
  li:nth-of-type(even) {
    text-align: left;
    display: flex;
    flex-direction: wrap;
    flex-direction: column;
    margin-top: 15px;
  }
}
