.service-box {
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.815);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  transition-duration: 0.5s;
}

.service-box:hover {
  transition-duration: 0.5s;
  transform: scale(1.05);
}

.isNewCircle {
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  margin-top: -140px;
  margin-right: 140px;
}

.newText {
  margin-top: -10px;
}
