.navbar {
  background-color: rgb(77, 76, 76);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color: whitesmoke;
  margin-left: 50px;
}

.navbar button {
  border: none;
  background-color: transparent;
  color: whitesmoke;
  margin-right: 50px;
}
