.service-boxes-container {
  background-color: rgb(60, 104, 141);
  padding: 50px;
}

.service-boxes-container h1 {
  color: rgba(255, 255, 255, 0.897);
}

.service-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 120px;
}

.service-boxes-title {
  margin-top: -50px;
}
