.navbar {
  background-color: grey;
}

.navbar-home {
  display: flex;
  justify-content: flex-start;
  color: whitesmoke;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
}

.navbar-links button {
  border: none;
  background-color: transparent;
  color: whitesmoke;
}
