.specialist {
  display: flex;
}

.specialist-info {
  margin-left: 50px;
  margin-right: 50px;
}

@media only screen and (max-width: 576px) {
  .specialist {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    margin-right: -50px;
  }
  .specialist-image {
    width: 200px !important;
    height: 200px !important;
  }
}
