.footer {
  background-color: rgb(56, 56, 56);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  margin-left: 50px;
}

.footer-icons {
  margin-right: 50px;
  display: flex;
  gap: 10px;
}
